<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>transact_pro</name>
    <displayName><![CDATA[Transact Pro]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept different types of payments on your website with Transact Pro.]]></description>
    <author><![CDATA[Transact Pro]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>